@using BFStudio.Utility.MVC

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFStudio @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/menu")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="content">
        <div class="row">
            <div id="cssmenu" class="col-md-12">

                    @Html.Partial("_UserPartial", SystemCacheManager.MenuList.Where(p => p.PMENU_ID == null).OrderBy(p => p.SORT_NO))
            </div>
            <div id="main-body" class="col-md-12">
                @RenderBody() @*最初にローディングされるときのみ*@
            </div>
        </div>
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/menu")


@RenderSection("scripts", required: false)
</html>
