@model IEnumerable<BFStudio.Entity.MST_MENU>

<ul>
        @foreach (var m in Model)
        {
            string option = "";
            if (m.HasChild)
            {

                option += "has-sub";
            }
            if (m.IsActive)
            {

                option += " active";
            }

            <li class=@option>
                @Ajax.ActionLink(@m.NAME, @m.ACTION, @m.CONTROLLER, new AjaxOptions() { AllowCache = false, HttpMethod = "GET", UpdateTargetId = "main-body" })
                @if (m.HasChild)
                {
                    Html.RenderPartial("_UserPartial", m.ChildMenu);
                }
            </li>
        }

        @if(Model.First().PMENU_ID == null){
        <li>@Html.ActionLink("ログアウト", "LogOff", "Login", null)</li>
        }
</ul>