@model BFStudio.Entity.DBA_USER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DBA_USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOGIN_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGIN_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_NM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
