@model BFStudio.Pages.Todo.Models.TodoModel

@{
    ViewBag.Title = "TODO";
}

<script>
    $()
</script>
<div>
    <table id="todo-list" class="display">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.TodoList.FirstOrDefault().TITLE)</th>
                <th>@Html.LabelFor(m => m.TodoList.FirstOrDefault().STAGE)</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var each in Model.TodoList)
            {
                <tr>
                    <td>@each.TITLE</td>
                    <td>@each.STAGE</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @using(Ajax.BeginForm("Update", "Todo" , new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "todo-form" })){
    
    <div class="form-group">
        <input type="text" class="form-control col-lg-8"/>
        <input type="submit" value="作成" class="form-control col-lg-5" />
    </div>

    <div class="form-group">
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
